@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Research Application Form</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/form.css">
</head>
<body>
    <div class="testbox">
        <form method="post">
            <div class="banner">
                <h1>Pizzería la hormiga</h1>
            </div>
            <div class="question">
                <p>Ingredientes</p>
                <small>Por favor marque los ingredientes que desea en su pizza</small>
                <div class="question-answer checkbox-item">
                    <div>
                        <input type="checkbox" value="none" id="check_1" name="Jamón" />
                        <label for="check_1" class="check"><span>Jamón</span></label>
                    </div>
                    <div>
                        <input type="checkbox" value="none" id="check_2" name="Hongos" />
                        <label for="check_2" class="check"><span>Hongos</span></label>
                    </div>
                    <div>
                        <input type="checkbox" value="none" id="check_3" name="Cebolla" />
                        <label for="check_3" class="check"><span>Cebolla</span></label>
                    </div>
                    <div>
                        <input type="checkbox" value="none" id="check_4" name="Carne molida" />
                        <label for="check_4" class="check"><span>Carne molida</span></label>
                    </div>
                    <div>
                        <input type="checkbox" value="none" id="check_5" name="Chile" />
                        <label for="check_5" class="check"><span>Chile</span></label>
                    </div>
                    <div>
                        <input type="checkbox" value="none" id="check_6" name="Jalapeño" />
                        <label for="check_6" class="check"><span>Jalapeño</span></label>
                    </div>
                    <div>
                        <input type="checkbox" value="none" id="check_7" name="Tomate" />
                        <label for="check_7" class="check"><span>Tomate</span></label>
                    </div>
                    <div>
                        <input type="checkbox" value="none" id="check_8" name="Piña" />
                        <label for="check_8" class="check"><span>Piña</span></label>
                    </div>
                    <div>
                        <input type="checkbox" value="none" id="check_9" name="Peperoni" />
                        <label for="check_9" class="check"><span>Peperoni</span></label>
                    </div>
                </div>
            </div>
            <br />

            <div class="question">
                <p>Tamaño de la pizza</p>
                <div class="question-answer">
                    <input type="radio" value="none" id="radio_1" name="Tamaño" />
                    <label for="radio_1" class="radio"><span>Individual</span></label>
                    <input type="radio" value="none" id="radio_2" name="Tamaño" />
                    <label for="radio_2" class="radio"><span>Pequeña</span></label>
                    <input type="radio" value="none" id="radio_3" name="Tamaño" />
                    <label for="radio_3" class="radio"><span>Pequeña</span></label>
                    <input type="radio" value="none" id="radio_4" name="Tamaño" />
                    <label for="radio_4" class="radio"><span>Mediana</span></label>
                    <input type="radio" value="none" id="radio_5" name="Tamaño" />
                    <label for="radio_5" class="radio"><span>Grande</span></label>
                    <input type="radio" value="none" id="radio_6" name="Tamaño" />
                    <label for="radio_6" class="radio"><span>Extra grande</span></label>
                </div>
            </div>

            <div class="item">
                <p>Dirección de envío<span class="required">*</span></p>
                <textarea rows="3" required></textarea>
            </div>
            <div class="btn-block">
                <button type="submit" href="/">Confirmar orden</button>
            </div>

            <label>Precio final: </label>

        </form>
    </div>
</body>
</html>
